<% layout('/layout/main') -%>
<% block('title', tool.name); -%>
<% block('header', tool.name); -%>

<section typeof="Tool" uk-grid>
    <div class="uk-width-1-1">
        <h2>
            <%= tool.name %>
        </h2>
    </div>
    <div class="uk-width-1-2">

        <img src="/img/<%= tool.image %>">

    </div>


    <div class="uk-width-1-2">
        <p>
            <%= tool.description %>
        </p>
    </div>

</section>

