<% layout('../layout/main') -%>

<% block('title', team.name); -%>
<% block('header', team.name); -%>


<section typeof="Team">
   
	<div class="uk-margin-medium-bottom">
		
		<h2 class="uk-margin-remove-top">
				<%= team.name %>
		</h2>

		<% team.memberships.forEach(function(member) { %>
			<a href="/felhasznalok/<%= member.user._id %>"><%= member.user.name %></a>
		<% }); %>
	</div>
</section>

