<% layout('layout/main') -%>

<% block('title', 'Kezdőlap'); -%>

<h1 class="uk-text-center"><%= error.status %></h1>
<h2 class="uk-text-center"><%= message %></h2>
<img src="/pohar.png" style="margin: 0 auto; display: block" width="200">
<pre><%= error.stack %></pre>
