html {background-color: #ffffff;color:#1b1b1b}
.header{background: url('/bg.png'); width: 100%; height: 741px;position:relative;background-position: center; }
.small-header{background: url('/bg.png'); background-attachment: fixed; background-position: top; width: 100%; padding: 75px 0px;position:relative;}
.uk-container > div {}
.footer {background-color: #1b1b1b;}
.footer a {color: #ffffff;}

.ball{

    bottom: 450px;
    width: 100px;
    height: 100px;
    filter: blur(3px); z-index: 1001;background: url('/ball.png');position: absolute;background-size: 100px 100px;left:0;right:0;margin-left:auto;margin-right:auto;bottom:450px;}
.pohar{background: url('/pohar.png'); width: 350px; height: 300px; position: absolute;background-size: 350px 300px;left:0;right:0;margin-left:auto;margin-right:auto;bottom:-125px;z-index: 1001;}
.poharhat{z-index: 1000;background: url('/poharhat.png'); width: 350px; height: 300px; position: absolute;background-size: 350px 300px;left:0;right:0;margin-left:auto;margin-right:auto;bottom:-125px;z-index: 1000;}
.circle{z-index: 999;background: url('/circle.png'); width: 600px; height: 480px; position: absolute;background-size: 600px 480px;left:0;right:0;margin-left:auto;margin-right:auto;bottom:-215px; display:none}
hr{ margin: 20px auto; border-top: 1px solid rgba(0,0,0,0.3); border-bottom: 1px solid rgba(0,0,0,0.1);}

.small-header h1{ color: white; text-align: center; font-size: 46px}
.uk-button-primary {background: #bd2839;}
.uk-button-primary:active, .uk-button-primary:hover {
    background-color: #a02332;
}

