<% layout('/layout/main') -%>

<% block('title', 'Új hír'); -%>
<h2>Új hír</h2>

<form class="uk-form-stacked" action="/hirek" method="POST" enctype="multipart/form-data">
    <div class="uk-margin">
		<label class="uk-form-label">Cím</label>
		<input type="text" class="uk-input" name="title">
	</div>

    <input type="file" name="file" id="file">

    <div class="uk-margin">
        <label class="uk-form-label">Bevezető</label>
		<textarea name="intro" class="uk-textarea"></textarea>
	</div>

    <div class="uk-margin">
        <label class="uk-form-label">Tartalom</label>
		<textarea name="content" id="content"></textarea>
	</div>

	<input type="submit" value="Mentés" class="uk-button uk-button-primary">
</form>

<script>
	var simplemde = new SimpleMDE({ element: document.getElementById("content") });
</script>

