<% layout('../layout/main') -%>

<% block('title', page.title); -%>
<% block('header', page.title); -%>

<section typeof="Page">

	<div property="text">
		<div id="markdown" class="uk-hidden"><%= page.content %></div>
		<div id="html"></div>
		<script>
            var converter = new showdown.Converter();
            html = converter.makeHtml($('#markdown').text());
            $('#html').html(html);
		</script>
	</div>

</section>

