<% layout('/layout/main') -%>

<% block('title', user.name); -%>
<% block('header', user.name); -%>

<section typeof="User">
   
	<div class="uk-margin-medium-bottom">
		
		<h2 class="uk-margin-remove-top">
			<%= user.name %>
		</h2>

		Csapat: <a href="/csapatok/<%= user.membership.team._id %>"><%= user.membership.team.name %></a>

	</div>

</section>

