<% layout('/layout/main') -%>

<% block('title', 'Szerkesztés'); -%>
<h2>Szerkesztés</h2>

<form class="uk-form-stacked" action="/eszkozok/<%= tool._id %>" method="POST">
    <div class="uk-margin">
		<label class="uk-form-label">Név</label>
		<input type="text" class="uk-input" name="name" value="<%= tool.name %>">
	</div>

    <div class="uk-margin">
        <label class="uk-form-label">Leírás</label>
		<textarea name="description" class="uk-textarea" id="description">><%= tool.description %></textarea>
	</div>

	<input type="submit" value="Mentés" class="uk-button uk-button-primary">
</form>

<script>
	var simplemde = new SimpleMDE({ element: document.getElementById("description") });
</script>

