<h1>Új feldolgozatlan eszköz igénylés</h1>
<p>Az igénylés részlete:</p>
<ul>
  <li>Eszköz: <%= @rent.item.name %></li>
  <li>Kölcsönzés kezdete: <%= @rent.begin %></li>
  <li>Kölcsönzés vége: <%= @rent.end %></li>
</ul>
