// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.date-field {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.datetime-text {
  margin-top: 1rem;
}

.wrapper {
  display: grid;
}
.event-applied-teams {
  grid-area: teams;
}
.event-content {
  grid-area: main-content;
}
.event-deadlines {
  grid-area: deadlines;
}

.applied-teams-title {
  margin-top: 1rem !important;
}

@media screen and (min-width: 769px) {
  .wrapper {
    grid-template-columns: 3fr .2fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "main-content . deadlines"
      "teams teams teams"
  }
  .event-deadlines {
    text-align: right;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "main-content"
      "deadlines"
      "teams"
  }
}

.entry-form {
  padding-top: 1rem;
}