// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ball.small {
  transition: 1s;
}
.ball {
  bottom: 450px;
  width: 50px;
  height: 50px;
  filter: blur(3px);
  z-index: 1001;
  background: url('/images/animation/ball.png');
  position: absolute;
  background-size: 50px 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.cups.small {
  width: 84px;
  height: 75px;
  background-size: 84px 75px;
  bottom: -50px;
  transition: 1s;
}
.cups {
  background: url('/images/animation/cups.png');
  width: 350px;
  height: 300px;
  position: absolute;
  background-size: 350px 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -125px;
  z-index: 1001;
  transition: 1s;
}
.cups_back.small {
  width: 84px;
  height: 75px;
  background-size: 84px 75px;
  bottom: -50px;
  transition: 1s;
}
.cups_back {
  z-index: 1000;
  background: url('/images/animation/cups_back.png');
  width: 350px;
  height: 300px;
  position: absolute;
  background-size: 350px 300px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -125px;
  transition: 1s;
}
.logo_background.small {
  width: 150px;
  height: 120px;
  background-size: 150px 120px;
  bottom: -75px;
  transition: 1s;
}
.logo_background {
  z-index: 999;
  background: url('/images/animation/logo_background.png');
  width: 600px;
  height: 480px;
  position: absolute;
  background-size: 600px 480px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -215px;
  display: none;
  transition: 1s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: #1b1c1d;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Text*/
.anim {
  margin-right: 8px;
}
